---
---

<div class="mt-10">
  <p>
    These are a few specific areas I am researching and some general areas I
    doodle in:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Network Protocols:</strong>
      how they work and parsing diffrent protocols.
    </li>
    <li>
      <strong>Backend Dev And Distributed Systems:</strong> Mostly on the protocols
      and optimization.
    </li>
    <li>
      <strong>Programming Languages:</strong> diffrenet programming language concepts
      and making some toy ones.
    </li>
    <li>
      <strong>Game Dev:</strong>
      mostly interessted in vulkan graphics related stuff.
    </li>
    <li>
      <strong>Cybersecurity:</strong> Pentesting & Capture the Flag - <a
        href={"https://app.hackthebox.com/profile/618967"}
        target="_blank">ranked as "Hacker" in Hack The Box.</a
      >
    </li>
  </ul>
</div>
