---
---

<div class="mt-10">
	<strong>
		These are a few specific areas I am researching and some general areas I
		doodle in:
	</strong>
	<ul class="mt-5">
		<li>
			<strong>Computer Graphics:</strong>
			Mostly interessted in any vulkan related stuff and graphics theory.
		</li>
		<li>
			<strong>Network Protocols:</strong>
			How they work and parsing diffrent protocols.
		</li>
		<li>
			<strong>Programming Languages:</strong> Diffrenet programming language concepts
			and making some toy ones.
		</li>
		<li>
			<strong>Cybersecurity:</strong> Pentesting & Capture the Flag - <a
				href={"https://app.hackthebox.com/profile/618967"}
				target="_blank">ranked as "Hacker" in Hack The Box.</a
			>
		</li>
	</ul>
</div>
