---
---

<section class="mt-12 mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        I'm Abdelhadi :3
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      I'm a passionate developer with a strong foundation in TypeScript, C++,
      and Zig. I thrive on unraveling complex systems and implementing elegant
      solutions. My journey in software development is guided by an insatiable
      curiosity and a genuine love for technology.
    </p>
  </div>
</section>
